asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
Django==5.2.3
dotenv==0.9.9
idna==3.10
pillow==11.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
xendit-python @ git+https://github.com/xendit/xendit-python.git@44fce2945c47a6cddd449984ab4b5a7416f0dae3
